.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-info {
    margin-top: 20px;
    text-align: center;
}

#city-input {
    margin-top: 20px;
    padding: 5px;
}

#search-btn {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.forecast-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: space-between; /* Space items evenly */
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
    margin-top: 20px;
}

.forecast-item {
    flex-basis: calc(20% - 20px); /* Adjust width to fit all items in one row */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #0060FA;
    color: white;
}

.search-history {
    margin-top: 20px;
}

.search-history ul {
    list-style-type: none;
    padding: 0;
}

.search-history ul li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.search-history ul li:hover {
    background-color: #e0e0e0;
}

body {
    background-color: skyblue;
}
